.finish-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/public/images/finish.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.finish-container h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 70px;
    color: red;
    margin-bottom: 20px;
    text-shadow: 
        -2px -2px 0 white,   /* Top-left */
         2px -2px 0 white,   /* Top-right */
        -2px  2px 0 white,   /* Bottom-left */
         2px  2px 0 white;   /* Bottom-right */
}


.finish-container p {
    font-size: 24px;
    margin: 10px 0;
}

.play-again-button {
    font-family: 'Press Start 2P', sans-serif; /* Typing/Game themed font */
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.play-again-button:hover {
    background-color: #0056b3;
}
